@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color:#f3ede5;
  --desc-text:#7d7c7b;
}



body{
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 1%;
}